* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.navbar {
    background-color: #92c9d5 !important;
    background-image: linear-gradient(to bottom right, #73c5d8, rgb(244, 254, 255));
    position: fixed;
    width: 100%;
}

body {
    background-color: white;
    padding-bottom: 40px;
}

.main-screen {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 1200px;
    background-image: linear-gradient(white, #73c5d8);
}

.page {
    display: flex;
    padding-top: 60px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 1000px;
    height: 1200px;
    background-image: linear-gradient(white, #fcf2ec);
    border-radius: 5px;
}

.nav-item {
    font-size: 15px;
    padding-left: 50px;
}
.first-nav {
    padding-left: 200px !important;
}
.nav-link {
    color: white !important;
}

.bottom-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-image: linear-gradient(#73c5d8, white);
}


.photo-row {
    width: 1000px;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}
.photo-spot {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}
.photo {
    width: 300px;
    padding-bottom: 10px;
}

.quote {
    width: 90%;
}

.cologne-title {
    font-size: 20px;
}

.skin {
    width: 100%;
}

.selected {
    color: grey !important;
}





